.mainCard{
    width: 345px;
    height: 400px;
    background: var(--brand-color);
    margin: 10px auto;
    padding: 25px;
    border-radius: 8px;
    
}
.logo {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.h2{
    text-align: center;
    color: white;
}
table{
    width: 100%;
    margin: 10px ;
}
tr{
   
}
.td{
    color: white;
    font-size: 20px;
    padding: 10px 0px;

}


